header h1.display-3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  text-align: center;
  color:#f0f1f7;
}

header p.lead {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:28px;
  text-align: center;
  color:#f4f5f8;
}
#currentDay {
  font-weight:bold;
  text-align: center;
  color:#fcfcfe;
}
#timeNow {
  font-weight: bold;
  font-size:26px;
  text-align: center;
  color:#f1f3f6;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: url(/Assets/Images/3b2635e53ead80017f47a1342e31e983.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid rgb(250, 245, 245);
}

.hour {
  background-color: rgba(172, 15, 15, 0);
  color: #000000;
 
}

.past {
  background-color: #e3e1e1;
  color: white;
}

.present {
  background-color: #ed7771;
  color: white;
}

.future {
  background-color: #a3f4a3;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #5e72b4;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
